 <!--<h1 style="color:#3f51b5;">Log In</h1>-->
 
<div class="classA">
  <div>
      <img src="assets/images/logo.png"  />
      <!--<h1>ParkMark</h1>-->
  </div>

  <div class="wrapdiv">

      <form novalidate (submit)="enter(frm)" #frm="ngForm" class="classB">
          <mat-error *ngIf="passwordValidate" class="classC" style="display: none;">
              The password is wrong
          </mat-error>
          <mat-error *ngIf="usernameValidate" class="classC">
              The username is wrong
          </mat-error>
          <div>
              <mat-form-field appearance="fill" class="classD">
                  <label required="" tester="" class="InputText">
                      <input spellcheck="false" attr="" name="" type="text" oninput="foo(this)">
                      <span span-before="" span-after="">User name</span>
                  </label>
                  <!--<mat-label>User name</mat-label>
                  <input value="" placeholder="username" name="username" [(ngModel)]="newUser.username" type="text" #username="ngModel" required minlength="5" maxlength="20">-->
              </mat-form-field>
          </div>
          <div>
              <mat-form-field appearance="fill" class="classD">
                  <label required="" tester="" class="InputText">
                      <input spellcheck="false" attr="" name="" type="password" oninput="foo(this)">
                      <span span-before="" span-after="">Password</span>
                  </label>
                  <!--<mat-label>Password</mat-label>
                  <input placeholder="password" name="userpassword" [(ngModel)]="newUser.userpassword" type="password" #userpassword="ngModel" required minlength="5" maxlength="12">-->
              </mat-form-field>
          </div>
          <div class="btnfrm">
              <button color="primary" class="submit" type="submit" [disabled]="!frm.valid" class="btnOK" selected>Log In</button>
          </div>
      </form>
  </div>
  <div>
      <span>Forgot your password?</span>
  </div>
  <div>
      <label>Don't have an account? <span>Create one!</span></label>
  </div>


</div>

      <!-- <body class="gradient">
  <div class="frm" id=frm>
        <div class="input">
          <div class="example-full-width">
             <input ngbTooltip="שם משתמש חייב להכיל לפחות 5 תוים" triggers="click:blur"  tooltipClass="tooltip" matInput placeholder="שם משתמש" name="username" [(ngModel)]="newUser.username" type="text" #userName="ngModel" required minlength="5" maxlength="20"/>        
            </div>
      <span class="error font" *ngIf="username.errors!=null && username.errors.minlength && username.touched">שם משתמש חייב להכיל לפחות 5 תווים</span> 
            <span class="error font" *ngIf="username.errors!=null && username.errors.required && username.touched">שדה חובה</span>
        </div>
        <div class="input">
          <div class="example-full-width">
            <input ngbTooltip="סיסמא חייבת להכיל לפחות 5 תוים" triggers="click:blur"  tooltipClass="tooltip"  placeholder="סיסמא" name="userpassword" [(ngModel)]="newUser.userpassword" type="password" #password="ngModel" required minlength="5" maxlength="12"/>
           <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <span>{{hide ? 'visibility' : 'visibility_off'}}</span>
                </button>
          </div>
            <span class="error font" *ngIf="userpassword.errors!=null && userpassword.errors.required && userpassword.touched">שדה חובה</span>
          </div>
          <div class="btnfrm">
              <button mat-button type="submit" [disabled]="!frm.valid"  class="btnOK" selected>הכנס</button>

          </div>
  </div>
  </body>!
 -->

