<div class="map" height="500px">
<!---->
<button (click)="imidSearch()">quick search</button><button (click)="advancedSearch()">advanced search</button>
<google-map class="map" (zoomChanged)="getCenter()" height="500px"
width="300px"
[zoom]="zoom"
[center]="center"
[options]="options"> <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker>
</google-map>

</div>
<div style="align-items: center; text-align: center;">
  <button (click)="getLocation()">Show my location</button><button (click)="dashboard()">My account</button>
</div>