<div style="text-align:center">
     
</div>
      
<div >
        <div class="btns">
                <button id="logIn" style=" margin: 10% 1%;" selected  routerLinkActive="active" (click)="LogIn()" >Log In</button>
                <br/>
                <button id="signUp" style=" margin: 10% 1%;" selected  routerLinkActive="active" (click)="SignUp()"  >Sign Up</button>
                <!--<div id="logIn"  selected  (click)="LogIn()" >log In</div>
                
                <div id="exc" selected  (click)="Exc()">exc</div>
                <div id="addpd" selected  (click)="AddPaymentDetails()" >payment details</div>
                <div id="add-immid-search" selected  (click)="AddImmidSearch()" >add immidiate search</div>-->
        </div>

</div>